repos:
-   repo: local
    hooks:
    -   id: isort
        name: isort
        language: system
        entry: poetry run isort --check-only
        files: \.pyi?$
    -   id: black
        name: black
        language: system
        entry: poetry run black --check
        files: \.pyi?$
    -   id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        files: \.pyi?$
    -   id: mypy
        name: mypy
        language: system
        entry: poetry run mypy
        files: \.pyi?$
    -   id: pyright
        name: pyright
        entry: pyright
        language: node
        pass_filenames: false
        files: \.pyi?$
        additional_dependencies: ['pyright@1.1.241']
