repos:
  - repo: local
    hooks:
    - id: ruff
      name: ruff
      language: system
      entry: poetry run ruff check --force-exclude
      files: \.pyi?$
    - id: ruff_format
      name: ruff format
      language: system
      entry: poetry run ruff format --force-exclude --check
      files: \.pyi?$
    - id: mypy39
      name: mypy (3.9)
      language: system
      entry: poetry run mypy
      args: [--python-version=3.9]
      files: \.pyi?$
    - id: mypy310
      name: mypy (3.10)
      language: system
      entry: poetry run mypy
      args: [--python-version=3.10]
      files: \.pyi?$
    - id: mypy311
      name: mypy (3.11)
      language: system
      entry: poetry run mypy
      args: [--python-version=3.11]
      files: \.pyi?$
    - id: mypy312
      name: mypy (3.12)
      language: system
      entry: poetry run mypy
      args: [--python-version=3.12]
      files: \.pyi?$
    - id: mypy313
      name: mypy (3.13)
      language: system
      entry: poetry run mypy
      args: [--python-version=3.13]
      files: \.pyi?$
    - id: mypy314
      name: mypy (3.14)
      language: system
      entry: poetry run mypy
      args: [--python-version=3.14]
      files: \.pyi?$
    - id: pyright39
      name: pyright (3.9)
      language: system
      entry: poetry run pyright
      args: [--pythonversion=3.9]
      files: \.pyi?$
    - id: pyright310
      name: pyright (3.10)
      language: system
      entry: poetry run pyright
      args: [--pythonversion=3.10]
      files: \.pyi?$
    - id: pyright311
      name: pyright (3.11)
      language: system
      entry: poetry run pyright
      args: [--pythonversion=3.11]
      files: \.pyi?$
    - id: pyright312
      name: pyright (3.12)
      language: system
      entry: poetry run pyright
      args: [--pythonversion=3.12]
      files: \.pyi?$
    - id: pyright313
      name: pyright (3.13)
      language: system
      entry: poetry run pyright
      args: [--pythonversion=3.13]
      files: \.pyi?$
    - id: pyright314
      name: pyright (3.14)
      language: system
      entry: poetry run pyright
      args: [--pythonversion=3.14]
      files: \.pyi?$
