[settings]
experimental = true
lockfile = true

[settings.python]
venv_stdlib = true

[tools]
cargo-binstall = "latest"
"cargo:git-cliff" = "latest"
poetry = "latest"
# 3.9 is after 3.10 so the virtualenv gets created with 3.10 by default
python = ["3.10", "3.9", "3.11", "3.12", "3.13", "3.14"]

[env]
_.python.venv = { path = ".venv", create = true }

[hooks]
postinstall = '''
{% if mise_env is not containing("ci") %}
  poetry install --all-extras
{% endif %}
'''

[tasks.stubtest]
description = "Run stubtest against asyncpg"
run = 'poetry run stubtest asyncpg --allowlist=stubtest-allow.txt'
