[tool.poetry]
name = "asyncpg-stubs"
version = "0.20.1+0"
description = "asyncpg stubs"
authors = ["Bryan Forbes <bryan@reigndropsfall.net>"]
license = "BSD-3-Clause"
packages = [
	{ include = "asyncpg-stubs" }
]

[tool.poetry.dependencies]
python = "^3.6.1"
mypy = ">=0.782"
typing-extensions = "^3.7.4"

[tool.poetry.dev-dependencies]
black = {version = "^20.8b1", allow-prereleases = true}
flake8 = "^3.8.4"
flake8-pyi = "^20.5.0"
pre-commit = "^2.7.1"
isort = "^5.6.1"
asyncpg = "^0.21.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.black]
line-length = 88
target-version = ["py36", "py37"]
skip-string-normalization = true
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.pytest_cache
  | \.venv
  | external
)/
'''

[tool.isort]
extra_standard_library = ["typing_extensions"]
virtual_env = ".venv"
profile = "black"
